<div class="row">
  <div class="col-12 col-sm-5  mt-5 text-center">
<%= render partial: 'profile'%>
</div>

<div class="col-12 col-sm-7">
   <ul class="nav nav-tabs mb-3">
    <li class="nav-item "><%= link_to("/users/#{@user.id}",class:"nav-link") do%>
    投稿<span class="badge badge-primary ml-1"><%=@user_posts_count%></span>
    <%end%>
    </li>
    <li class="nav-item"><%= link_to("/users/#{@user.id}/likes",class:"nav-link") do%>
    いいね<span class="badge badge-primary ml-1"><%=@user_likes_post_count%></span>
    <%end%>
    </li>
    <li class="nav-item active"><%= link_to( "/users/#{@user.id}/comments",class:"nav-link") do%>
    コメント<span class="badge badge-primary ml-1"><%=@user_comments_count%></span>
    <%end%>
    </li>
  </ul>
  <ul class="media-list profile-media mx-auto">
    <% @comments.each do |comment| %>
      <li class="media">
        <%post=Post.find_by(id: comment.post_id)%>
        <%if comment.user.image.attached?%>
          <div class="media-left">
            <%=link_to(image_tag(comment.user.image,class:"post-user-img"),"/users/#{comment.user.id}")%>
          </div>
          <% else %>
          <div class="media-left">
             <img src="../assets/user-image.png" class="post-user-img">
          </div>
        <% end %>
        <div class="media-body inner">
          <div class="media-heading">
            <%= link_to(comment.user.name,"/users/#{comment.user.id}")%>
          </div>
          <div class="comment-content">
            <%= link_to(comment.content, "/posts/#{post.id}",class:"comment-content") %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>
