<h3 class="text-center mt-5">ユーザー一覧</h3>
<div class="search-form float-right mt-3" >
<%= form_tag("/users/search",:method => "get") do %>
<div class="form-group search-item">
  <%= text_field_tag :search,"" ,{class: "form-control"}%>
</div>  
<div class="search-item">
  <%= submit_tag "検索", :name => nil,class:"btn-sm btn-info"%>
  </div>
<% end %>
</div>

  <ul class="media-list">
   <%@users.each do |user|%>
    <li class="media user-index float-right mr-3"">
     <%if user.image.attached?%>
      <div class="media-left">
       <%= image_tag user.image,class:"post-user-img"%>
      </div>  
     <%end%>
      <div class="media-body inner">
       <div class="media-heading user-index-name">
        <%=link_to(user.name,"/users/#{user.id}")%>
       </div>
       <div class="profile-user-introduce">
        <%= user.introduce %>
       </div>
      </div>
    </li>
   <%end%>
  </ul>
<%= paginate @users %>


