
<%= render partial: 'profile'%>

<div class="profile-right">
<ul class="nav nav-tabs">
  <li class="nav-item active"><%= link_to("投稿", "/users/#{@user.id}",class:"nav-link")%></li>
  <li class="nav-item"><%= link_to("いいねした投稿", "/users/#{@user.id}/likes",class:"nav-link") %></li>
  <li class="nav-item"><%= link_to("コメント", "/users/#{@user.id}/comments",class:"nav-link") %></li>
</ul>

 <ul class="media-list profile-media">   
<% @likes.each do |like| %>
 <%post=Post.find_by(id: like.post_id)%>
 <li class="media">
 <%if post.user.image.attached?%>
  <div class="media-left">
   <%=image_tag post.user.image,class:"post-user-img"%>
  </div>
 <%end%>
  <div class="media-body inner">
   <div class="media-heading">
    <%= link_to(post.user.name, "/users/#{post.user.id}") %>
   </div>
  
    <h4><%= link_to(post.title, "/posts/#{post.id}") %></h4>

    <div class="created_at">
      <%=post.created_at%>
    </div>
    
      <%@likes_count = Like.where(post_id: post.id).count%>
      <span class="fa fa-star like-btn"></span>
      <div class="likes-count">
      <%= @likes_count %>
      </div>
  </div>
  <%if post.image.attached?%>
      <div class="media-right mt-4 mr-5">
       <%= image_tag post.image,class:"post-media-img"%>
      </div>
     <%end%>
  </li>
 <% end %>
</ul>
</div>

    